# For accessing the dropbox api
dropbox

# Testing framework
pytest

# For static type checking
mypy==0.560

# For static type checking as part of test suite
pytest-mypy

# For continous testing
pytest-watch

# Better debugger for pytest
pdbpp

# For parsing yaml files
pyyaml

# For downloading sleep cycle data from SleepSecure(TM)
requests

# For pip-compile/sync
pip-tools

# For data analysis
pandas

# For plotting data
matplotlib
